*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    width: 100%;
    background-color: rgba(238, 226, 226, 0.851);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu a{
    text-decoration: none;
    font-family: sans-serif;
    color: #020a26;
    margin: 15px;
    font-size: 22px;   
}
.nav1{
    display: flex;
    margin: 2px;
    height: 100px;
}
.nav1 .box img{
    margin-left: 65px;
    display: table-column;
}
.banner{
    width: 100%;
    height: 260px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}
.banner img{
    width: 100%;
}
h1{
    text-align: center;
    font-family: monospace;
    font-size: 35px;
}

.container{
    height: 350px;
    width: 100%;
    background-color:white;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box{
    height: 300px;
    width: 200px;
    margin: 5px;
}

.container2{
    height: 350px;
    width: 100%;
    background-color:white;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news{
     background: linear-gradient(to right, red,blue,black);
     width: 100%;
     height: 51px;
}
.news marquee{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 50px;
    text-shadow: 4px 4px 4px black;
    letter-spacing: 3px;
    word-spacing: 3px;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(131, 131, 141);
    color: whitesmoke;
}

